body {
    color: white;
    background-color: black;
}

h1 {
    color: #ff6347;
    text-align: center;
}

h2 {
    color: #6347ff;
}

p {
    color: white;
}

a:link {
    color: #47ff63;
}

a:visited {
    color: #47ff63;
}
